# Cleaning of dataset and aggregating numbers

- Community District spatial data found [here](https://www.nyc.gov/content/planning/pages/resources/datasets/community-districts)
- NYC facilities data found [here](https://data.cityofnewyork.us/City-Government/Facilities-Database/ji82-xba5/about_data)

## Importing packages and loading data

In [ ]:
import pandas as pd
import geopandas as gpd

In [ ]:
df = pd.read_csv('Data/Facilities_Database_20250917.csv')
df

,uid,facname,addressnum,streetname,address,city,boro,borocode,zipcode,latitude,...,opabbrev,overlevel,overagency,overabbrev,datasource,facdomain,schooldist,policeprct,servarea,geometry
0,0001ef1fac265d3bf446a565d68cd115,KWAME TURE RECREATION CENTER,1527,JESUP AVENUE,1527 JESUP AVENUE,BRONX,BRONX,2,10452.0,40.844063,...,NYCDPR,City,NYC Department of Parks and Recreation,NYCDPR,dpr_parksproperties,"PARKS, GARDENS, AND HISTORICAL SITES",9.0,44,Local,POINT(1006676.9350066185 246802.66176319122)
1,00056520e4c5483e13933cda8c8a736d,MARKS JCH OF BENSONHURST DAY CAMP,7802,BAY PARKWAY,7802 BAY PARKWAY,BROOKLYN,BROOKLYN,3,11214.0,40.606368,...,Non-public,City,NYC Department of Health and Mental Hygiene,NYCDOHMH,dohmh_daycare,"EDUCATION, CHILD WELFARE, AND YOUTH",20.0,62,Local,POINT(987095.9375667572 160192.82608127594)
2,0005cf2135820de8d20395875ca0e506,CENTER FOR JEWISH HISTORY,15,WEST 16 STREET,15 WEST 16 STREET,NEW YORK,MANHATTAN,1,10011.0,40.738063,...,Non-public,City,NYC Department of Cultural Affairs,NYCDCLA,dcla_culturalinstitutions,LIBRARIES AND CULTURAL PROGRAMS,2.0,13,Regional,POINT(985967.4039525986 208172.96673631668)
3,0005d3c51109b7d8d06a3942c267b95a,G.V.C. LTD. (B2192),NaN,NaN,1396 COMMERCE AVE,BRONX,BRONX,2,10461.0,40.838272,...,Non-public,City,NYC Department of Education,NYCDOE,doe_busroutesgarages,CORE INFRASTRUCTURE AND TRANSPORTATION,11.0,45,Regional,POINT(1028101.0000104904 244721.99998998642)
4,00076593b6e70e9240d456da810a506b,LEESEL TRANSPORTATION CORP (B2192),3900,WEBSTER AVENUE,3900 WEBSTER AVENUE,BRONX,BRONX,2,10470.0,40.888544,...,Non-public,City,NYC Department of Education,NYCDOE,doe_busroutesgarages,CORE INFRASTRUCTURE AND TRANSPORTATION,10.0,47,Regional,POINT(1021028.6373381615 263026.45077991486)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34888,R010001,NY WHEEL,155,RICHMOND TERRACE,155 RICHMOND TERRACE,STATEN ISLAND,STATEN ISLAND,5,10301.0,40.647158,...,Non-public,City,NYC Department of City Planning,NYCDCP,dcp_pops,"PARKS, GARDENS, AND HISTORICAL SITES",31.0,120,Local,POINT(962427.3023219109 175063.30319547653)
34889,R020001,LANDMARK COLONY,475,BRIELLE AVENUE,475 BRIELLE AVENUE,STATEN ISLAND,STATEN ISLAND,5,10314.0,40.593711,...,Non-public,City,NYC Department of City Planning,NYCDCP,dcp_pops,"PARKS, GARDENS, AND HISTORICAL SITES",31.0,121,Local,POINT(946533.3256392479 155610.43911647797)
34890,X010001,LA CENTRAL,671,BROOK AVENUE,671 BROOK AVENUE,BRONX,BRONX,2,10455.0,40.817688,...,Non-public,City,NYC Department of City Planning,NYCDCP,dcp_pops,"PARKS, GARDENS, AND HISTORICAL SITES",7.0,40,Local,POINT(1008124.4350218773 237194.7111916542)
34891,X020001,SPOFFORD CAMPUS,1201,SPOFFORD AVENUE,1201 SPOFFORD AVENUE,BRONX,BRONX,2,10474.0,40.814350,...,Non-public,City,NYC Department of City Planning,NYCDCP,dcp_pops,"PARKS, GARDENS, AND HISTORICAL SITES",8.0,41,Local,POINT(1014697.9186491966 235985.71564149857)
34892,X030001,"1560 BOONE AVENUE, BRONX, NY 10460",1560,BOONE AVENUE,1560 BOONE AVENUE,BRONX,BRONX,2,10460.0,40.833657,...,Non-public,City,NYC Department of City Planning,NYCDCP,dcp_pops,"PARKS, GARDENS, AND HISTORICAL SITES",12.0,42,Local,POINT(1016325.4099774361 243022.08282470703)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34893 entries, 0 to 34892
Data columns (total 38 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         34893 non-null  object
 1   facname     34884 non-null  object
 2   addressnum  26438 non-null  object
 3   streetname  26770 non-null  object
 4   address     31430 non-null  object
 5   city        34676 non-null  object
 6   boro        34730 non-null  object
 7   borocode    34893 non-null  int64
 8   zipcode     34512 non-null  float64
 9   latitude    34893 non-null  float64
 10  longitude   34893 non-null  float64
 11  xcoord      34893 non-null  float64
 12  ycoord      34893 non-null  float64
 13  bin         34893 non-null  int64
 14  bbl         34893 non-null  int64
 15  cd          34893 non-null  int64
 16  council     34893 non-null  int64
 17  ct2010      33995 non-null  float64
 18  ct2020      33995 non-null  float64
 19  nta2010     33995 non-null  object
 20  nta2020     33995 non-null  object
 21  facgroup    34893 non-null  object
 22  facsubgrp   34893 non-null  object
 23  factype     34834 non-null  object
 24  capacity    34893 non-null  int64
 25  captype     2146 non-null   object
 26  optype      25188 non-null  object
 27  opname      33787 non-null  object
 28  opabbrev    25208 non-null  object
 29  overlevel   34199 non-null  object
 30  overagency  34886 non-null  object
 31  overabbrev  34893 non-null  object
 32  datasource  34893 non-null  object
 33  facdomain   34893 non-null  object
 34  schooldist  33993 non-null  float64
 35  policeprct  34893 non-null  int64
 36  servarea    34893 non-null  object
 37  geometry    34134 non-null  object
dtypes: float64(8), int64(7), object(23)
memory usage: 10.1+ MB

In [ ]:
df1 = df[['facname','city', 'optype', 'facgroup', 'latitude', 'longitude']]
df1 = df1[df1['optype'] == 'Public']
df1

,facname,city,optype,facgroup,latitude,longitude
0,KWAME TURE RECREATION CENTER,BRONX,Public,PARKS AND PLAZAS,40.844063,-73.918943
17,J. HOOD WRIGHT PARK,NEW YORK,Public,PARKS AND PLAZAS,40.846445,-73.940763
19,PARK,BRONX,Public,PARKS AND PLAZAS,40.844077,-73.898071
21,WALTON WALK,BRONX,Public,PARKS AND PLAZAS,40.845473,-73.912258
27,M.S. 935,BROOKLYN,Public,SCHOOLS (K-12),40.681020,-73.876090
...,...,...,...,...,...,...
34475,ARCH STREET YARD,LONG ISLAND CITY,Public,TRANSPORTATION,40.742566,-73.947906
34479,LEADERS OF TOMORROW,BRONX,Public,SCHOOLS (K-12),40.880665,-73.860114
34483,P.S. 276 LOUIS MARSHALL,BROOKLYN,Public,SCHOOLS (K-12),40.633930,-73.908254
34495,BUSHWICK,BROOKLYN,Public,HUMAN SERVICES,40.703251,-73.940416
34500,THE DR. EMMETT W. BASSETT SCHOOL,BRONX,Public,DAY CARE AND PRE-KINDERGARTEN,40.828525,-73.857155

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8102 entries, 0 to 34500
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   facname    8098 non-null   object
 1   city       8080 non-null   object
 2   optype     8102 non-null   object
 3   facgroup   8102 non-null   object
 4   latitude   8102 non-null   float64
 5   longitude  8102 non-null   float64
dtypes: float64(2), object(4)
memory usage: 443.1+ KB

In [ ]:
gdf = gpd.read_file('Data/nycd_25c/nycd.shp')
gdf

,BoroCD,Shape_Leng,Shape_Area,geometry
0,410,105822.377329,1.720774e+08,"MULTIPOLYGON (((1023868.747 176222.723, 102336..."
1,480,47338.740067,3.277756e+07,"POLYGON ((1022276.97 218625.343, 1022251.388 2..."
2,104,67546.045387,4.931005e+07,"POLYGON ((985929.324 220967.002, 985995.954 22..."
3,107,39863.703295,5.315258e+07,"POLYGON ((995422.176 231162.464, 995647.332 23..."
4,317,43327.354912,9.381843e+07,"POLYGON ((1009902.796 176534.51, 1009642.537 1..."
...,...,...,...,...
66,302,73413.339179,7.932007e+07,"POLYGON ((992763.566 196891.144, 992808.718 19..."
67,304,37006.832522,5.666299e+07,"POLYGON ((1012965.523 187886.949, 1012949.003 ..."
68,405,70020.381942,2.103949e+08,"POLYGON ((1015372.06 206818.665, 1015537.002 2..."
69,101,69090.913150,4.169373e+07,"MULTIPOLYGON (((972081.788 190733.467, 972184...."
70,103,30505.700417,4.687884e+07,"POLYGON ((987359.695 206680.171, 987694.33 206..."

In [ ]:
names = pd.read_csv('Data/District_Names.csv')
names.drop(columns=['BOROUGH_ID', 'BOROUGH_ID.1'], inplace=True)

In [ ]:
gdf_named = pd.merge(gdf, names, right_on="DISTRICTCODE", left_on="BoroCD", how="left")
gdf_named

,BoroCD,Shape_Leng,Shape_Area,geometry,BOROUGH,DISTRICTCODE,CD Name
0,410,105822.377329,1.720774e+08,"MULTIPOLYGON (((1023868.747 176222.723, 102336...",Queens,410.0,"Ozone Park, Howard Beach"
1,480,47338.740067,3.277756e+07,"POLYGON ((1022276.97 218625.343, 1022251.388 2...",NaN,NaN,NaN
2,104,67546.045387,4.931005e+07,"POLYGON ((985929.324 220967.002, 985995.954 22...",Manhattan,104.0,"Chelsea, Clinton"
3,107,39863.703295,5.315258e+07,"POLYGON ((995422.176 231162.464, 995647.332 23...",Manhattan,107.0,"West Side, Upper West Side"
4,317,43327.354912,9.381843e+07,"POLYGON ((1009902.796 176534.51, 1009642.537 1...",Brooklyn,317.0,"East Flatbush, Rugby, Farragut"
...,...,...,...,...,...,...,...
66,302,73413.339179,7.932007e+07,"POLYGON ((992763.566 196891.144, 992808.718 19...",Brooklyn,302.0,"Brooklyn Heights, Fort Greene"
67,304,37006.832522,5.666299e+07,"POLYGON ((1012965.523 187886.949, 1012949.003 ...",Brooklyn,304.0,Bushwick
68,405,70020.381942,2.103949e+08,"POLYGON ((1015372.06 206818.665, 1015537.002 2...",Queens,405.0,"Ridgewood, Glendale, Maspeth"
69,101,69090.913150,4.169373e+07,"MULTIPOLYGON (((972081.788 190733.467, 972184....",Manhattan,101.0,"Battery Park City, Tribeca"
70,103,30505.700417,4.687884e+07,"POLYGON ((987359.695 206680.171, 987694.33 206...",Manhattan,103.0,"Lower East Side, Chinatown"

In [ ]:
gdf_named = gdf_named[gdf_named['CD Name'].isna() == False]
gdf_named.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 59 entries, 0 to 70
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BoroCD        59 non-null     int32
 1   Shape_Leng    59 non-null     float64
 2   Shape_Area    59 non-null     float64
 3   geometry      59 non-null     geometry
 4   BOROUGH       59 non-null     object
 5   DISTRICTCODE  59 non-null     float64
 6   CD Name       59 non-null     object
dtypes: float64(3), geometry(1), int32(1), object(2)
memory usage: 3.5+ KB

In [ ]:
print(gdf_named.crs)

EPSG:2263

## Merging datasets

In [ ]:
from shapely.geometry import Point

geometry = [Point(xy) for xy in zip(df1["longitude"], df1["latitude"])]
gdf_points = gpd.GeoDataFrame(df1, geometry=geometry, crs="EPSG:4326").to_crs("EPSG:2263")
gdf_points

,facname,city,optype,facgroup,latitude,longitude,geometry
0,KWAME TURE RECREATION CENTER,BRONX,Public,PARKS AND PLAZAS,40.844063,-73.918943,POINT (1006676.935 246802.662)
17,J. HOOD WRIGHT PARK,NEW YORK,Public,PARKS AND PLAZAS,40.846445,-73.940763,POINT (1000639.227 247665.615)
19,PARK,BRONX,Public,PARKS AND PLAZAS,40.844077,-73.898071,POINT (1012451.947 246813.928)
21,WALTON WALK,BRONX,Public,PARKS AND PLAZAS,40.845473,-73.912258,POINT (1008525.996 247318.066)
27,M.S. 935,BROOKLYN,Public,SCHOOLS (K-12),40.681020,-73.876090,POINT (1018617.617 187414.84)
...,...,...,...,...,...,...,...
34475,ARCH STREET YARD,LONG ISLAND CITY,Public,TRANSPORTATION,40.742566,-73.947906,POINT (998685.444 209817.735)
34479,LEADERS OF TOMORROW,BRONX,Public,SCHOOLS (K-12),40.880665,-73.860114,POINT (1022932.511 260158.652)
34483,P.S. 276 LOUIS MARSHALL,BROOKLYN,Public,SCHOOLS (K-12),40.633930,-73.908254,POINT (1009714.562 170247.564)
34495,BUSHWICK,BROOKLYN,Public,HUMAN SERVICES,40.703251,-73.940416,POINT (1000770.576 195495.383)
34500,THE DR. EMMETT W. BASSETT SCHOOL,BRONX,Public,DAY CARE AND PRE-KINDERGARTEN,40.828525,-73.857155,POINT (1023781.824 241163.497)

In [ ]:
gdf_merged = gpd.sjoin(gdf_points, gdf_named, how="inner", predicate="within")
gdf_merged

,facname,city,optype,facgroup,latitude,longitude,geometry,index_right,BoroCD,Shape_Leng,Shape_Area,BOROUGH,DISTRICTCODE,CD Name
0,KWAME TURE RECREATION CENTER,BRONX,Public,PARKS AND PLAZAS,40.844063,-73.918943,POINT (1006676.935 246802.662),24,204,31358.454326,5.552214e+07,Bronx,204.0,"Highbridge, Concourse Village"
17,J. HOOD WRIGHT PARK,NEW YORK,Public,PARKS AND PLAZAS,40.846445,-73.940763,POINT (1000639.227 247665.615),35,112,54703.672361,7.796357e+07,Manhattan,112.0,"Washington Heights, Inwood"
19,PARK,BRONX,Public,PARKS AND PLAZAS,40.844077,-73.898071,POINT (1012451.947 246813.928),25,206,35875.710581,4.266432e+07,Bronx,206.0,"East Tremont, Belmont"
21,WALTON WALK,BRONX,Public,PARKS AND PLAZAS,40.845473,-73.912258,POINT (1008525.996 247318.066),10,205,29443.047276,3.831698e+07,Bronx,205.0,"University Hts., Fordham, Mt. Hope"
27,M.S. 935,BROOKLYN,Public,SCHOOLS (K-12),40.681020,-73.876090,POINT (1018617.617 187414.84),64,305,65091.696829,1.554875e+08,Brooklyn,305.0,"East New York, Starrett City"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34475,ARCH STREET YARD,LONG ISLAND CITY,Public,TRANSPORTATION,40.742566,-73.947906,POINT (998685.444 209817.735),31,402,72490.037344,1.400101e+08,Queens,402.0,"Sunnyside, Woodside"
34479,LEADERS OF TOMORROW,BRONX,Public,SCHOOLS (K-12),40.880665,-73.860114,POINT (1022932.511 260158.652),42,212,84115.796450,1.549063e+08,Bronx,212.0,"Wakefield, Williamsbridge"
34483,P.S. 276 LOUIS MARSHALL,BROOKLYN,Public,SCHOOLS (K-12),40.633930,-73.908254,POINT (1009714.562 170247.564),57,318,186791.894407,2.356718e+08,Brooklyn,318.0,"Canarsie, Flatlands"
34495,BUSHWICK,BROOKLYN,Public,HUMAN SERVICES,40.703251,-73.940416,POINT (1000770.576 195495.383),61,301,69237.886342,1.316955e+08,Brooklyn,301.0,"Williamsburg, Greenpoint"
34500,THE DR. EMMETT W. BASSETT SCHOOL,BRONX,Public,DAY CARE AND PRE-KINDERGARTEN,40.828525,-73.857155,POINT (1023781.824 241163.497),33,209,62243.211150,1.142840e+08,Bronx,209.0,"Soundview, Parkchester"

In [ ]:
gdf_merged.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 7915 entries, 0 to 34500
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   facname       7911 non-null   object
 1   city          7911 non-null   object
 2   optype        7915 non-null   object
 3   facgroup      7915 non-null   object
 4   latitude      7915 non-null   float64
 5   longitude     7915 non-null   float64
 6   geometry      7915 non-null   geometry
 7   index_right   7915 non-null   int64
 8   BoroCD        7915 non-null   int32
 9   Shape_Leng    7915 non-null   float64
 10  Shape_Area    7915 non-null   float64
 11  BOROUGH       7915 non-null   object
 12  DISTRICTCODE  7915 non-null   float64
 13  CD Name       7915 non-null   object
dtypes: float64(5), geometry(1), int32(1), int64(1), object(6)
memory usage: 896.6+ KB

In [ ]:
gdf_merged.drop(columns = ['DISTRICTCODE', 'BOROUGH', 'optype', 'city', 'index_right'])

,facname,facgroup,latitude,longitude,geometry,BoroCD,Shape_Leng,Shape_Area,CD Name
0,KWAME TURE RECREATION CENTER,PARKS AND PLAZAS,40.844063,-73.918943,POINT (1006676.935 246802.662),204,31358.454326,5.552214e+07,"Highbridge, Concourse Village"
17,J. HOOD WRIGHT PARK,PARKS AND PLAZAS,40.846445,-73.940763,POINT (1000639.227 247665.615),112,54703.672361,7.796357e+07,"Washington Heights, Inwood"
19,PARK,PARKS AND PLAZAS,40.844077,-73.898071,POINT (1012451.947 246813.928),206,35875.710581,4.266432e+07,"East Tremont, Belmont"
21,WALTON WALK,PARKS AND PLAZAS,40.845473,-73.912258,POINT (1008525.996 247318.066),205,29443.047276,3.831698e+07,"University Hts., Fordham, Mt. Hope"
27,M.S. 935,SCHOOLS (K-12),40.681020,-73.876090,POINT (1018617.617 187414.84),305,65091.696829,1.554875e+08,"East New York, Starrett City"
...,...,...,...,...,...,...,...,...,...
34475,ARCH STREET YARD,TRANSPORTATION,40.742566,-73.947906,POINT (998685.444 209817.735),402,72490.037344,1.400101e+08,"Sunnyside, Woodside"
34479,LEADERS OF TOMORROW,SCHOOLS (K-12),40.880665,-73.860114,POINT (1022932.511 260158.652),212,84115.796450,1.549063e+08,"Wakefield, Williamsbridge"
34483,P.S. 276 LOUIS MARSHALL,SCHOOLS (K-12),40.633930,-73.908254,POINT (1009714.562 170247.564),318,186791.894407,2.356718e+08,"Canarsie, Flatlands"
34495,BUSHWICK,HUMAN SERVICES,40.703251,-73.940416,POINT (1000770.576 195495.383),301,69237.886342,1.316955e+08,"Williamsburg, Greenpoint"
34500,THE DR. EMMETT W. BASSETT SCHOOL,DAY CARE AND PRE-KINDERGARTEN,40.828525,-73.857155,POINT (1023781.824 241163.497),209,62243.211150,1.142840e+08,"Soundview, Parkchester"

In [ ]:
gdf_merged['facgroup'].value_counts()

facgroup
EDUCATION                    2960
PARKS AND RECREATION         2137
CITY OPERATIONS              1186
TRANSPORTATION                657
HEALTH AND HUMAN SERVICES     525
PUBLIC SAFETY                 431
OTHER                          19
Name: count, dtype: int64

In [ ]:
gdf_merged["facgroup"] = gdf_merged["facgroup"].replace({
    "ADULT SERVICES" : "HEALTH AND HUMAN SERVICES",
    "HIGHER EDUCATION" : "EDUCATION",
    "SCHOOLS (K-12)" : "EDUCATION",
    "MATERIAL SUPPLIES AND MARKETS" : "CITY OPERATIONS",
    "OTHER PROPERTY" : "OTHER",
    "TELECOMMUNICATIONS" : "CITY OPERATIONS",
    "HISTORICAL SITES" : "PARKS AND RECREATION",
    "JUSTICE AND CORRECTIONS" : "PUBLIC SAFETY",
    "HUMAN SERVICES" : "HEALTH AND HUMAN SERVICES",
    "HEALTH CARE" : "HEALTH AND HUMAN SERVICES",
    "PARKS AND PLAZAS" : "PARKS AND RECREATION",
    "CITY AGENCY PARKING, MAINTENANCE, AND STORAGE" : "CITY OPERATIONS",
    "OFFICES, TRAINING, AND TESTING" : "CITY OPERATIONS",
    "DAY CARE AND PRE-KINDERGARTEN" : "EDUCATION",
    "EMERGENCY SERVICES" : "PUBLIC SAFETY",
    "LIBRARIES" : "EDUCATION",
    "SOLID WASTE" : "CITY OPERATIONS",
    "WATER AND WASTEWATER" : "CITY OPERATIONS"
})

In [ ]:
gdf_merged = pd.get_dummies(gdf_merged, columns=["facgroup"])
bool_cols = gdf_merged.select_dtypes("bool").columns
gdf_merged[bool_cols] = gdf_merged[bool_cols].astype(int)
gdf_merged

In [ ]:
gdf_merged.rename(columns = {
    "facgroup_CITY OPERATIONS" : "CITY OPERATIONS",
    "facgroup_EDUCATION" : "EDUCATION",
    "facgroup_HEALTH AND HUMAN SERVICES" : "HEALTH AND HUMAN SERVICES",
    "facgroup_OTHER" : "OTHER",
    "facgroup_PARKS AND RECREATION" : "PARKS AND RECREATION",
    "facgroup_PUBLIC SAFETY" : "PUBLIC SAFETY",
    "facgroup_TRANSPORTATION" : "TRANSPORTATION"
}, inplace=True)

## Aggregating data

In [ ]:
group_cols = ["CITY OPERATIONS", "EDUCATION", "HEALTH AND HUMAN SERVICES", 
              "OTHER", "PARKS AND RECREATION", "PUBLIC SAFETY", "TRANSPORTATION"]

info_cols = ["CD Name", "Shape_Leng", "Shape_Area", "city"]

agg_dict = {col: "sum" for col in group_cols} 
agg_dict["facname"] = "nunique"               
agg_dict.update({col: "first" for col in info_cols})  # pick first for these

gdf_agg = gdf_merged.groupby("DISTRICTCODE").agg(agg_dict).rename(
    columns={"facname": "total_facilities"}
).reset_index()

In [ ]:
gdf_agg['DISTRICTCODE'] = gdf_agg['DISTRICTCODE'].astype(int)
gdf_agg.head(5)

,DISTRICTCODE,CITY OPERATIONS,EDUCATION,HEALTH AND HUMAN SERVICES,OTHER,PARKS AND RECREATION,PUBLIC SAFETY,TRANSPORTATION,total_facilities,CD Name,Shape_Leng,Shape_Area,city
0,101,143,34,5,0,34,18,13,124,"Battery Park City, Tribeca",69090.913150,4.169373e+07,NEW YORK
1,102,9,20,2,0,40,8,4,80,"Greenwich Village, Soho",35009.716634,3.772401e+07,NEW YORK
2,103,27,68,35,1,87,11,6,194,"Lower East Side, Chinatown",30505.700417,4.687884e+07,NEW YORK
3,104,19,47,4,0,18,10,10,99,"Chelsea, Clinton",67546.045387,4.931005e+07,NEW YORK
4,105,12,29,7,0,20,7,4,71,Midtown Business District,35288.334291,4.379004e+07,NEW YORK

In [ ]:
gdf_final = pd.merge(gdf_agg, gdf[['BoroCD', 'geometry']], left_on='DISTRICTCODE', right_on='BoroCD', how='left')
gdf_final.head(5)

,DISTRICTCODE,CITY OPERATIONS,EDUCATION,HEALTH AND HUMAN SERVICES,OTHER,PARKS AND RECREATION,PUBLIC SAFETY,TRANSPORTATION,total_facilities,CD Name,Shape_Leng,Shape_Area,city,BoroCD,geometry
0,101,143,34,5,0,34,18,13,124,"Battery Park City, Tribeca",69090.913150,4.169373e+07,NEW YORK,101,"MULTIPOLYGON (((972081.788 190733.467, 972184...."
1,102,9,20,2,0,40,8,4,80,"Greenwich Village, Soho",35009.716634,3.772401e+07,NEW YORK,102,"POLYGON ((981713.541 209788.14, 981750.999 209..."
2,103,27,68,35,1,87,11,6,194,"Lower East Side, Chinatown",30505.700417,4.687884e+07,NEW YORK,103,"POLYGON ((987359.695 206680.171, 987694.33 206..."
3,104,19,47,4,0,18,10,10,99,"Chelsea, Clinton",67546.045387,4.931005e+07,NEW YORK,104,"POLYGON ((985929.324 220967.002, 985995.954 22..."
4,105,12,29,7,0,20,7,4,71,Midtown Business District,35288.334291,4.379004e+07,NEW YORK,105,"POLYGON ((991725.244 217725.299, 992169.505 21..."

In [ ]:
gdf_final = gpd.GeoDataFrame(gdf_final, geometry="geometry", crs="EPSG:2263")

In [ ]:
gdf_final.to_file("facilities_w_districts.shp")