# Cleaning economic data

Data is obtained [here](https://data.cccnewyork.org/data/map/66/median-incomes#66/39/3/107/131/a/a), but it seems like they've compiled data from other open data sources like the census and NY Open data

In [23]:
import pandas as pd

In [24]:
# Median income from census, taking only 2023 and all household data

median_df = pd.read_csv('Data/Median Incomes.csv')
median_df

,Location,Household Type,TimeFrame,DataFormat,Data,Fips
0,Astoria,All Households,2023,Dollars,84590,401
1,Astoria,Families,2023,Dollars,94918,401
2,Astoria,Families with Children,2023,Dollars,85568,401
3,Astoria,Families without Children,2023,Dollars,110222,401
4,Battery Park/Tribeca,All Households,2023,Dollars,198945,101
...,...,...,...,...,...,...
4675,Hunts Point,Families,2005,Dollars,25298.11273,202
4676,Mott Haven,All Households,2005,Dollars,21038.11098,201
4677,Hunts Point,All Households,2005,Dollars,21038.11098,202
4678,Mott Haven,Families with Children,2005,Dollars,18714.33604,201
4679,Hunts Point,Families with Children,2005,Dollars,18714.33604,202

In [21]:
median_df = median_df[(median_df['TimeFrame'] == 2023) & 
          (median_df['Household Type'] == "All Households")]

median_df.rename(columns = {"Fips" : "CD",
                            "Data" : "Med_Income"}, inplace=True)

C:\Users\Jason\AppData\Local\Temp\ipykernel_18756\3627457581.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  median_df.rename(columns = {"Fips" : "CD",

In [25]:
median_df.to_csv('Data/median_income_df.csv', index=False)